<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Rick Murtagh, Linc Global, Inc.
 *
 */
-->
<config>
	<modules>
		<Linc_Care>
			<version>1.1.6</version>
		</Linc_Care>
	</modules>
	<admin>
	    <routers>
	        <care>
	            <use>admin</use>
	            <args>
	                <module>Linc_Care</module>
	                <frontName>linccare</frontName>
	            </args>
	        </care>
	    </routers>
	</admin>
    <global>
		<models>
			<care>
				<class>Linc_Care_Model</class>
			</care>
		</models>
		<blocks>
			<care>
				<class>Linc_Care_Block</class>
			</care>
		</blocks>
		<events>
			<sales_order_place_after>
				<observers>
					<linc_care>
						<class>care/orderobserver</class>
						<method>exportOrder</method>
						<type>singleton</type>
					</linc_care>
				</observers>
			</sales_order_place_after>
			<sales_order_shipment_track_save_after>
				<observers>
					<linc_care>
						<class>care/fulfillmentobserver</class>
						<method>exportFulfillment</method>
						<type>singleton</type>
					</linc_care>
				</observers>
			</sales_order_shipment_track_save_after>
		</events>
		<helpers>
		    <care>
		        <class>Linc_Care_Helper</class>
		    </care>
		</helpers>
        <resources>
            <linc_setup>
                <setup>
                    <module>Linc_Care</module>
                    <class>Linc_Care_Model_Resource_Setup</class>
                </setup>
            </linc_setup>
        </resources>
	</global>
	<adminhtml>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <linccaresection translate="title" module="linc_care">
                                        <title>Store Linc Care Module Section</title>
                                    </linccaresection>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    </adminhtml>
</config>
